{% extends 'base.html' %}
{% load widget_tweaks %}

{% block nome %}Adiciona aluno{% endblock %}

{% block content %}
<div>
    <h1>Informações do aluno: </h1>
    <form method='POST'>
        {% csrf_token %}

        <div class='input-group mb-3'>
            <div class='input-group-prepend'><spam class='input-group-text'>Nome</spam></div>
            {% render_field form.nome class='form-control' %}
        </div>

        <div class='input-group mb-3'>
            <div class='input-group-prepend'><spam class='input-group-text'>Descrição</spam></div>
            {% render_field form.description class='form-control' %}
        </div>

        <div class='input-group mb-3'>
            <div class='input-group-prepend'><spam class='input-group-text'>Telefone</spam></div>
            {% render_field form.telefone class='form-control' %}
        </div>

        <div class='input-group mb-3'>
            <div class='input-group-prepend'><spam class='input-group-text'>Email</spam></div>
            {% render_field form.email class='form-control' %}
        </div>

        <div class='input-group mb-3'>
            <div class='input-group-prepend'><spam class='input-group-text'>Data de nascimento</spam></div>
            {% render_field form.data_nascimento class='form-control' %}
        </div>

        <input type='submit' class='bnt bnt-success' valeu='Salvar'>
    </form>
</div>

<script>
    function cadastrar(){
        var varificar = document.getElementById('telefone', 'nome').value;
        let e = document.getElementById('email').value;
        let result = e.includes('@');
        if (verificar == '' || result == false) {
            alert('Preencha todos os campos')
        } 
        else {
            alert('Cadastrado com sucesso')
        }
    }
    const handlePhone = (event) => {
        let input = event.target
        input.value = phoneMask(input.value)
    }
    const phoneMask = (value) => {
        if (!value) return ""
        value = value.replace(/\D/g, '')
        value = value.replace(/(\d{2})(\d)/, "($1) $2")
        value = value.replace(/(\d)(\d{4})$/, "$1-$2")
        return value
    }
</script>
{% endblock %}
